.disappear {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
}

.disappear:hover {
    cursor: pointer;
}

.choose-image {
    height: 100px;
    width: 100px;
    border-right: solid 1px gray;
    display: block;
    overflow: hidden;
    line-height: 100px;
    text-align: center;
    position: relative;
}

.add-image {
    width: fit-content;
}

#target {
    display: none;
}