.header-AddImage {
    border: solid 1px black;
}


.image-side {
    float: left;
}

.text-side {
    height: 100px;
    float: left;
}

.title-side {
    height: 50%;
}

.extra-side {
    width: 100%;
    height: 50%;
}

.tuto-link {
    left: 0px;
}