.header-AddImage {
    border: solid 1px black;
    display: flex;
    position: relative;
}


.image-side {
    flex: 0 0 100px;
    width: 100px;
}

.text-side {
    flex: 1;
    height: 100px;
    width: calc(100% - 100px);
}

.title-side {
    height: 50%;
}

.extra-side {
    width: 100%;
    height: 50%;
}

.tuto-link {
    left: 0px;
}